<%- include('partials/header') -%>

    <form action="/updateprofile" method="POST">
        <!-- <div class="mb-3">
            <label for="imgUpload" class="form-label">Profile Picture</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
        </div> -->


        <div class="mb-3">
            <label for="timezone" class="form-label">Timezone</label>
            <select name="timezone" id="timezone">
                <option value="pst">Pacific</option>
                <option value="mst">Mountain</option>
                <option value="cst">Central</option>
                <option value="est">Eastern</option>
                <option value="hast">Hawaii-Aleutian</option>
            </select>
        </div>


        <fieldset>
            <legend>Liked Game Genres:</legend>
            <div>
                <input type="checkbox" id="mmorpg" name="game" value="mmorpg">
                <label for="mmorpg">MMORPG</label>
            </div>
            <div>
                <input type="checkbox" id="survival" name="game" value="survival">
                <label for="survival">Open World Survival</label>
            </div>
            <div>
                <input type="checkbox" id="arpg" name="arpg">
                <label for="arpg">Action RPG</label>
            </div>
            <div>
                <input type="checkbox" id="strategy" name="strategy">
                <label for="strategy">Strategy</label>
            </div>
            <div>
                <input type="checkbox" id="fps" name="fps">
                <label for="fps">FPS</label>
            </div>
            <div>
                <input type="checkbox" id="party" name="party">
                <label for="party">Party Games</label>
            </div>
            <div>
                <input type="checkbox" id="base" name="base">
                <label for="base">Base Building </label>
            </div>
            <div>
                <input type="checkbox" id="sports" name="sports">
                <label for="horns">Sports</label>
            </div>
            <div>
                <input type="checkbox" id="fighting" name="fighting">
                <label for="horns">Fighting</label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Consoles:</legend>
            <div>
                <input type="checkbox" id="pc" name="console" value='pc' checked>
                <label for="pc">PC</label>
            </div>
            <div>
                <input type="checkbox" id="playstation" name="console" value='playstation'>
                <label for="playstation">Playstation</label>
            </div>
            <div>
                <input type="checkbox" id="xbox" name="console" value='xbox'>
                <label for="xbox">Xbox</label>
            </div>
            <div>
                <input type="checkbox" id="nintendo" name="console" value='nintendo'>
                <label for="strategy">Nintendo</label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <%- include('partials/footer') -%>